<h1>Edit member details</h1>

<%= form_for(@member) do |f| %>
  <div class="field">
    <%= f.label :FirstName %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :LastName %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Password Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>