<h1>Sign up</h1>

<%= form_for(@member) do |f| %>
  <div class="field">
    <%= f.label :FirstName %><br />
    <%= f.text_field :FirstName %>
  </div>
  <div class="field">
    <%= f.label :LastName %><br />
    <%= f.text_field :LastName %>
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Password %><br />
    <%= f.password_field :Password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>